$def with (content)
<!DOCTYPE html>
<html>
	<head>
		<meta charset=utf-8 />
		<title>Mock Smart Meter</title>
		<!-- Imp CSS -->
		<link type="text/css" href="/static/style/main.css" rel="stylesheet" />
		<link type="text/css" href="/static/style/jquery-ui.min.css" rel="stylesheet" />
		<!-- jQuery -->
		<script type="text/javascript" src="/static/scripts/jquery.min.js"></script>
		<script type="text/javascript" src="/static/scripts/jquery-ui.min.js"></script>
		<script type="text/javascript" src="/static/scripts/jquery-ui-timepicker.js"></script>
		<!-- Javascript -->
		<script type="text/javascript" src="/static/scripts/base.js"></script>

		<!--Any .js files defined on the content page.-->
$if content.jsfiles:
	$for f in content.jsfiles.split():
		<script type="text/javascript" src="/static/scripts/$f"></script>

		<!--Any .css files defined on the content page.-->
$if content.cssfiles:
	$for f in content.cssfiles.split():
		<link type="text/css" href="/static/style/$f" rel="stylesheet" />
	</head>
	<body>
		<div id="app_header" class="ui-widget-header blur">
			<div id="app_header_logo" class="floatleft pointer"></div>
			<div id="app_header_title" class="floatleft">Mock Smart Meter</div>
		</div>
		<div id="app_footer" class="ui-widget-header blur">
			<div id="app_copyright" class="floatleft">
				&copy; 2013 DiUS Computing Pty. Ltd.
			</div>
			<div></div>
			<div id="app_footer_logo" class="floatleft pointer"></div>
		</div>
		<div id="fullwidthcontent" class="min900px">
			<!-- This is the MAIN Content section. -->
$:content
			<!--  End MAIN Content section. -->
		</div>
	</body>
</html>
