$def with ()
$var jsfiles: keys.js
$var cssfiles:

<div id="add-link-key-form" title="Add/Update link key">
	<p class="validateTips">All form fields are required.</p>
	<form>
		<fieldset>
			<div>
				<label for="addmacaddr">MAC Address</label>
				<input type="text" name="addmacaddr" id="addmacaddr" value="" class="text ui-widget-content ui-corner-all" />
			</div>
			<div>
				<label for="addpreconfkey">Pre-configured Key</label>
				<input type="text" name="addpreconfkey" id="addpreconfkey" value="" class="text ui-widget-content ui-corner-all" />
			</div>
		</fieldset>
	</form>
</div>

<div id="rm-link-key-form" title="Remove link key">
	<p class="validateTips">All form fields are required.</p>
	<form>
		<fieldset>
			<div>
				<label for="rmmacaddr">MAC Address</label>
				<input type="text" name="rmmacaddr" id="rmmacaddr" value="" class="text ui-widget-content ui-corner-all" />
			</div>
		</fieldset>
	</form>
</div>

<div id="current-keys" class="ui-widget">
	<h1>Network Key:</h1>
	<div>
		<label for="nwk-key">Network Key: </label>
		<label id="nwk-key"></label>
	</div>
	<div>
		<label for="nwk-key-seq">Network Key Sequence: </label>
		<label id="nwk-key-seq"></label>
	</div>
	<div id="tc-link-key-info">
		<h1>Trust Center link key:</h1>
		<table id="tc-link-key" class="ui-widget ui-widget-content">
			<thead>
				<tr class="ui-widget-header ">
					<th>MAC Address</th>
					<th>Link Key</th>
					<th>Connected</th>
				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>
	</div>
	<div>
		<h1>Link keys:</h1>
		<table id="link-keys" class="ui-widget ui-widget-content">
			<thead>
				<tr class="ui-widget-header ">
					<th>MAC Address</th>
					<th>Link Key</th>
					<th>Connected</th>
				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>
	</div>
	<div>
		<label for="max-link-keys">Maximum number of link keys: </label>
		<label id="max-link-keys"></label>
	</div>
</div>

<div>
	<button id="add-link-key">Add/Update link key</button>
	<button id="rm-link-key">Remove link key</button>
</div>

<div>
	<button id="refresh-link-keys">Refresh</button>
</div>
